
body {
    background-color: #0e0e0e;
    color: #f00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    direction: rtl;
}
.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.logo {
    width: 180px;
    margin: 20px 0;
}
.buttons a {
    display: block;
    margin: 10px auto;
    background: #f00;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    transition: 0.3s;
}
.buttons a:hover {
    background: #b30000;
}
input, textarea {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
form {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
